.container {
    background-image: url("~/images/pexels4.jpg");
    // background-size: cover;
    // background-position: center;
    padding: 20;
    // flex-grow: 2;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  
    .input-field {
      width: 100%;
      margin-bottom: 10;
      padding: 5;
      background-color: transparent;
      border-bottom: 1px solid #D4CCCC;
      color: white;
    }
  
  .button {
    width: 100%;
    padding: 10;
    background-color: #b3769b;
    color: white;
    border-radius: 5;
    text-align: center;
  }
  
  .profile-img {
    border-radius: 50%;
    box-shadow: 
      0 0 20px rgba(0, 0, 0, 0.7),
      0 0 10px rgba(0, 0, 0, 0.5); 
  }  
  
  .input {
    color: black;
    font-size: 15px;
  }
  .button-signup{
    width: 50%;
    border-radius: 5;
    background-color: white;
  }
  .light-overlay {
    position: absolute;
    background-color: rgba(105, 105, 105, 0.3);
    display: flex;
    z-index: 1000;
  }