<StackLayout class="container">
    <StackLayout class="image">
        <Image src="~/images/password.png" class="profile-img" stretch="aspectFill" width="80" height="80" />
    </StackLayout>
    
    <StackLayout class="input-field">
        <TextField class="input" hint="Email" name="email" maxLength="50" [(ngModel)]="email"
            (textChange)="validateForm()"></TextField>
    </StackLayout>
    <Button text="Send Email" class="button" (tap)="forgotPassword()" [isEnabled]="isFormValid"></Button>
    <Button
    text="Go to Login"
    nsRouterLink="/login"
    class="button"
  ></Button>
</StackLayout>
  <FlexboxLayout *ngIf="isLoading" height="100%" justifyContent="center" alignItems="center" class="light-overlay">
    <ActivityIndicator [busy]="isLoading" color="blue" width="36" height="36" horizontalAlignment="center">
    </ActivityIndicator>
  </FlexboxLayout>