.container {
    background-image: url("~/images/background_image.jpg");
    padding: 20;
    // vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.input-field {
    width: 100%;
    margin-bottom: 10;
    padding: 5;
    background-color: transparent;
    border-bottom: 1px solid #D4CCCC;
    color: white;
}

.button {
    width: 100%;
    padding: 10;
    background-color: #2f85f0;
    color: white;
    border-radius: 5;
    text-align: center;
}

.profile-img {
    border-radius: 50%;
    background: transparent;
    box-shadow:
        0 0 20px rgba(0, 0, 0, 0.7),
        0 0 10px rgba(0, 0, 0, 0.5);
}

.input {
    color: black;
    font-size: 15px;
}
.image{
    padding-top: 10;
    margin-top: 200;
    height: 15%;
}

.light-overlay {
    position: absolute;
    background-color: rgba(105, 105, 105, 0.3);
    display: flex;
    z-index: 1000;
  }