.button {
    width: 100%;
    padding: 10;
    background-color: #b3769b;
    color: white;
    border-radius: 5;
    text-align: center;
  }
  .gridClass {
    // background-color:transparent;
    border-color: rgb(20, 113, 175);
    border-width: 3;
    padding-bottom: 20%;
  //   opacity: 0.7;
  }
  
  .text-secondary {
    color: black !important;
    font-weight: 900;
  }
  .grid {
    background-color: white;
    // background-image: url("~/images/bg.png");
    // background-repeat: no-repeat;
    // background-size: cover;
    // padding: 20px;
  }
  .name {
    color: rgb(30, 15, 240);
    font-weight: 900;
  }
  .profile-img {
    height: 50;
    width: 50;
    border-radius: 50;
  }
  .profile-icon {
    height: 35;
    width: 35;
    border-radius: 35;
  }
  .label-icon{
    font-weight: 900;
  }
  .chatLength {
    position: absolute;
    font-size: 17px;
    color: white;
}
.light-overlay {
  position: absolute;
  background-color: rgba(105, 105, 105, 0.3);
  display: flex;
  z-index: 1000;
}
.action-bar {
  color: black;
  background-color: rgba(249, 249, 249, 0.94);
  font-weight: bold;
}