<StackLayout horizontalAlignment="left" verticalAlignment="center" orientation="horizontal">
  <ActionBar title="ChatVista" class="action-bar" letterSpacing="0.5" fontWeight="bold">
    <StackLayout horizontalAlignment="left" verticalAlignment="center" orientation="horizontal">
      <Image class="profile-icon" [src]="user?.profileImage ? user?.profileImage : '~/images/user2.png'"
        stretch="aspectFill"></Image>
      <Label verticalAlignment="center" marginLeft="15" fontSize="20" fontWeight="500" color="black"
        text="ChatVista"></Label>
    </StackLayout>
    <ActionItem position="left">
      <GridLayout width="50">
        <Image width="30" height="30" android:marginBottom="3" src="~/images/power.png" (tap)="logout()"></Image>
      </GridLayout>
    </ActionItem>
    <ActionItem position="left">
      <FlexBoxLayout justifyContent="space-between">
        <AbsoluteLayout alignItems="center" marginRight="10">
          <Image width="30" height="30" android:marginBottom="3" src="~/images/chat.png" (tap)="chatList()"></Image>
          <Label fontWeight="800" class="chatLength" color="#0F71EB" marginTop="-18" marginLeft="20" [text]="userLength"
            textAlign="center"></Label>
        </AbsoluteLayout>
      </FlexBoxLayout>
    </ActionItem>
  </ActionBar>
</StackLayout>
<GridLayout class="grid">
  <GridLayout marginTop="5">
    <ListView [items]="allUsers" height="100%">
      <ng-template let-item="item">
        <GridLayout columns="auto, *, *" borderRadius="10" (tap)="onChat(item)">
          <StackLayout height="70">
            <Image [src]="item.profileImage? item.profileImage : '~/images/user2.png'" class="profile-img"
              stretch="aspectFill"></Image>
          </StackLayout>
          <StackLayout col="1" row="0">
            <GridLayout columns="auto" rows="auto">
              <Label col="1" margin="0 0" color="grey" fontSize="18"
                [text]="item.name || item.firstName + ' ' + item.lastName"></Label>
            </GridLayout>
            <GridLayout columns="auto" rows="auto">
              <Label col="1" color="grey" fontSize="12">
                {{ item?.latest?.text ? item?.latest?.text : 'Write a message' }}
              </Label>
            </GridLayout>
          </StackLayout>
          <StackLayout col="2" row="0" verticalAlignment="center" horizontalAlignment="right">
            <Label [text]="getMessageText(item?.latest)" color="grey" *ngIf="item?.latest"></Label>
          </StackLayout>
        </GridLayout>
      </ng-template>
    </ListView>
  </GridLayout>
  <FlexboxLayout *ngIf="isLoading" height="100%" justifyContent="center" alignItems="center" class="light-overlay">
    <ActivityIndicator [busy]="isLoading" color="blue" width="36" height="36" horizontalAlignment="center">
    </ActivityIndicator>
  </FlexboxLayout>
</GridLayout>